.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: loading 3000ms ease-out;
  background: radial-gradient(#9356DC 10%, #FF79DA 80%, white 110%);
  display: none;
}
.loading__cutlery {
  position: absolute;
  display: flex;
  animation: cutlery 1750ms ease 3;
}
.loading__fork {
  transform: translateX(-14.4vw);
  height: 19.2vw;
}
.loading__fork img {
  height: 100%;
}
.loading__knif {
  transform: translateX(14.4vw);
  height: 19.2vw;
}
.loading__knif img {
  height: 100%;
}
.loading__ext {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 12vw white solid;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.loading__int {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 8.4vw white solid;
  border-radius: 50%;
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.15);
}
.loading__text {
  position: absolute;
  font-size: 2.94vw;
  width: 13.02vw;
  color: #9356DC;
}
.loading__text span::before {
  content: "Loading";
  animation: text 1750ms 2;
}

@keyframes text {
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}
@keyframes cutlery {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .icon {
  width: 160px;
  margin-top: 10px;
}
header .fa-arrow-left {
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 19px;
}

footer {
  padding: 30px 30px 10px 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  background-color: #353535;
}
footer .icon {
  margin: 0;
  font-size: 18px;
}
footer ul {
  padding: 0;
}
footer li {
  padding-bottom: 10px;
}
footer li a {
  color: white;
}
footer .fa-utensils {
  font-size: 15px;
  padding-right: 11px;
}
footer .fa-handshake-angle {
  font-size: 13px;
  padding-right: 8px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*text's font*/
  font-family: "Roboto", sans-serif;
  z-index: 0;
  width: 100%;
  margin: auto;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
  color: black;
}

.icon {
  /*icons and litles' font"*/
  font-family: "Shrikhand", cursive;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}
.location i {
  padding: 0 15px;
}

label {
  position: absolute;
  left: -500px;
}

input {
  background-color: transparent;
  border: none;
  width: 40%;
}
input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #292929;
}

.fa-location-dot {
  color: #292929;
  margin-bottom: 4px;
}

#explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 55px 10px;
  background-color: #F6F6F6;
}
#explorer h1 {
  text-align: center;
  font-size: 25px;
  width: 70%;
  margin-bottom: 15px;
}
#explorer p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  width: 90%;
}
#explorer button {
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #FF79DA -15%, #9356DC 115%);
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
}

#steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
#steps h2 {
  width: 100%;
  margin-bottom: 10px;
}
#steps ul {
  width: 100%;
  margin-bottom: 0;
  padding-inline-start: 0px;
}
#steps li {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  margin-left: 14px;
  border-radius: 20px;
  background-color: #F6F6F6;
  transition: opacity 500ms;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
#steps li:hover i {
  color: #9356DC;
}
#steps li:hover::after {
  opacity: 1;
}
#steps li::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #f2eafb;
  opacity: 0;
  transition: opacity 500ms;
}

.step {
  position: absolute;
  left: -14px;
  top: 27px;
  font-size: 14px;
  padding: 4px 8px 2px 8px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.step__description {
  display: flex;
}
.step__description i {
  font-size: 20px;
  margin: 27px 25px 27px 35px;
  color: #7E7E7E;
}
.step__description p {
  margin: 25px 0;
}

#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  padding: 50px 20px 65px 20px;
  background-color: #F6F6F6;
}
#restaurants p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
#restaurants a {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.restaurants__title {
  margin-bottom: 5px;
  width: 100%;
}

.restaurant {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
}
.restaurant img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}
.restaurant .fa-regular {
  font-size: 25px;
  position: relative;
  bottom: 8px;
  right: 8px;
}
.restaurant .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, #FF79DA 1%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 350ms;
}
.restaurant .fa-solid:hover {
  opacity: 1;
}
.restaurant__title {
  display: flex;
  flex-direction: column;
}
.restaurant__title h3 {
  padding-bottom: 5px;
}
.restaurant button {
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  color: #278870;
  background: #99E2D0;
  position: absolute;
  right: 12px;
  top: 12px;
}

/*# sourceMappingURL=style.css.map */
